@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 25% 6%;
    --foreground: 210 40% 98%;
    --card: 222 28% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 225 25% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 224 71% 4%;
    --secondary: 220 40% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 40% 12%;
    --muted-foreground: 210 40% 60%;
    --accent: 170 84% 44%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 40% 15%;
    --input: 220 40% 15%;
    --ring: 170 84% 44%;
    --chart-1: 170 84% 44%;
    --chart-2: 220 70% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    
    --sidebar-background: 225 25% 6%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 170 84% 44%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 170 84% 44%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 40% 15%;
    --sidebar-ring: 170 84% 44%;
  }
  .dark {
    --background: 225 25% 6%;
    --foreground: 210 40% 98%;
    --card: 222 28% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 225 25% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 224 71% 4%;
    --secondary: 220 40% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 40% 12%;
    --muted-foreground: 210 40% 60%;
    --accent: 170 84% 44%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 40% 15%;
    --input: 220 40% 15%;
    --ring: 170 84% 44%;
    --chart-1: 170 84% 44%;
    --chart-2: 220 70% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 224 30% 10%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 170 84% 44%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 170 84% 44%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 40% 15%;
    --sidebar-ring: 170 84% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-container,
  .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    transform: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
  }
  
  .print-container > .printable-area {
     margin: 1rem; 
  }
  
  .print-container > *:not(.printable-area) {
    display: none;
  }
}
